/* Master Styles */
body {
    font-family: "Robot Mono", sans-serif;
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0px;
}

/* Nave Styles */
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-col {
    display: flex;
}

.nav-wrapper > .left-col > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}

/* Portfolio Styles */
.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
    position: relative;
}


.portfolio-img-background {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo-wrapper img {
    width: 50%;
    margin-bottom: 20px;
}

.img-text-wrapper:hover .logo-wrapper img {
    transition: 1s;
    filter: invert(1);
}

.subtitle > a {
    color: inherit;
}

.img-text-wrapper .subtitle {
    transition: 1s;
    font-weight: 600;
    color: transparent;
}

.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: #06E06C;
}

.img-darken {
    transition: 1s;
    filter: brightness(10%);
}

.active-nav-link {
    border-bottom: 1px solid black;
}

.active-nav-link a {
    color: black !important;
}


/* About Page Styles */
.two-col-wrapper {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}

.profile-image-wrapper img {
    width: 100%;
    padding: 0;
}

.profile-content-wrapper {
    padding: 30px;
    padding-bottom: 0px;
}

.profile-content-wrapper h1 {
    color: #06E06C;
}

/* CV Styles */
.cv-section-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.name-plate h1 {
    font-size: 350%;
}

.quick-ref-wrapper {
    background: linear-gradient(0deg, rgb(97, 97, 97) 0%, rgba(255,255,255,1) 100%);
    padding: 5px;
}

.quick-ref-wrapper > h1 {
    color: rgb(0, 0, 0);
}

.contact-wrapper > p > a:link {
    color: #06E06C;
}

.contact-wrapper > p > a:visited {
    color: #06E06C;
}

* {box-sizing:border-box}

.skill-bar {
  width: 100%;
  background-color: #ddd; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}
    /* Hard Skills */
    .english {
        width: 97%; 
        background-color: #06E06C; 
    }

    .html {
        width: 95%; 
        background-color: #06E06C;
    }

    .excel {
        width: 95%; 
        background-color: #06E06C;
    }

    .ppt {
        width: 90%; 
        background-color: #06E06C;
    }

    .java {
        width: 85%; 
        background-color: #06E06C;
    }

    .word {
        width: 85%; 
        background-color: #06E06C;
    }

    .french {
        width: 60%; 
        background-color: #06E06C; 
    }

    /* Soft Skills */

    .create {
        width: 95%; 
        background-color: #06E06C;
    }

    .comm {
        width: 95%; 
        background-color: #06E06C;
    }

    .team {
        width: 92%; 
        background-color: #06E06C;
    }

    .problem {
        width: 90%; 
        background-color: #06E06C;
    }

    .humour {
        width: 80%; 
        background-color: #06E06C; 
    }

.quick-ref-wrapper img {
    width: 100%;
}

.detailed-info-wrapper {
    padding: 10px;
}

.cv-section-content-wrapper {
    padding: 5px;
}

.cv-section h1 {
    color: #06E06C;
    font-size: 250%;
}

.cv-section-content-wrapper > .title {
    font-weight: underline;
}

.cv-section-content-wrapper > .location {
    opacity: 60%;
    font-size: 115%;
}

.cv-section-content-wrapper > .dates {
    opacity: 60%;
    font-size: 90%;
    font-style: italic;
}

/* Directory Page styles */
.two-col-even-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.index-image-wrapper img {
    width: 100%;
    padding: 0;
}
.index-image-wrapper iframe {
    border: 0;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
 }

.index-content-wrapper {
    padding: 30px;
    padding-bottom: 0px;
}

.index-content-wrapper h1 {
    color: #06E06C;
}

.index-content-wrapper a {
    color: inherit;
}